*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #000000;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #000000;
  background-color: #ffffff;
}

::selection {
  color: #000000;
  background-color: #ffffff;
}

.container {
  max-width: 55rem;
}

header,
main,
.contact {
  margin: 2rem;
}

header {
  margin-top: 1rem !important;
}

.contact {
  margin-bottom: 1rem !important;
}

.title {
  font-weight: 400;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.6rem;
}

.my-info {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.work {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__title {
  margin: 0.4rem;
  font-weight: 400;
  font-size: 1.6rem;
}

.work__link {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.2rem;
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}

.work__link:hover {
  color: #5e5e5e;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.contact {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact__link {
  margin: 0rem 0.5rem;
  color: #ffffff;
}

.fab {
  font-size: 1.7rem;
}

.fab:hover {
  color: #5e5e5e;
  -webkit-transition: 0.4s ease, transform 0.9s ease;
  -webkit-transition: 0.4s ease, -webkit-transform 0.9s ease;
  transition: 0.4s ease, -webkit-transform 0.9s ease;
  transition: 0.4s ease, transform 0.9s ease;
  transition: 0.4s ease, transform 0.9s ease, -webkit-transform 0.9s ease;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }
}
