*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #000000;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #000000;
  background-color: #ffffff;
}

::selection {
  color: #000000;
  background-color: #ffffff;
}

.my-info::-moz-selection {
  color: #ffffff;
  background-color: #5e5e5e;
}

.my-info::selection {
  color: #ffffff;
  background-color: #5e5e5e;
}

#loadingDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000000;
}

.loader {
  width: 5rem;
  height: 5rem;
  background: center/contain no-repeat url(../img/loader.gif);
}

/* width */
::-webkit-scrollbar {
  width: 1.4rem;
}

/* track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0rem 0rem 0.5rem #a5a5a5;
          box-shadow: inset 0rem 0rem 0.5rem #a5a5a5;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: #3f3b3b;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #252222;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100vh;
}

header,
.main,
.work,
.contact {
  margin: 0.2rem;
}

.my-photo {
  left: 0;
  top: 50%;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
  display: none;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 25rem;
  height: 30rem;
  opacity: 0.8;
}

.title {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.72rem;
  -webkit-tap-highlight-color: transparent;
}

.title:hover + .my-photo {
  display: inline-block;
}

.subtitle {
  font-weight: 400;
  font-size: 1.44rem;
}

.subtitle__link:hover {
  color: #5e5e5e;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.my-info {
  font-weight: 400;
  font-size: 1.5rem;
}

.work {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__title {
  font-weight: 400;
  font-size: 1.44rem;
}

.work__link {
  font-size: 1.32rem;
  font-weight: 700;
  margin: 0.02rem;
  text-decoration: underline;
  text-underline-offset: 0.04rem;
}

.work__link:hover {
  color: #5e5e5e;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.contact {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact__link {
  margin: 0rem 0.32rem;
}

.fab,
.fas {
  font-size: 1.5rem;
}

.fab:hover,
.fas:hover {
  color: #5e5e5e;
  -webkit-transition: 0.4s ease, transform 0.9s ease;
  -webkit-transition: 0.4s ease, -webkit-transform 0.9s ease;
  transition: 0.4s ease, -webkit-transform 0.9s ease;
  transition: 0.4s ease, transform 0.9s ease;
  transition: 0.4s ease, transform 0.9s ease, -webkit-transform 0.9s ease;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }
  .my-photo {
    width: 17rem;
    height: 22rem;
  }
}
