@mixin transition($property, $duration, $timing-function) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  -moz-transform: scale($ratio);
  -ms-transform: scale($ratio);
  -o-transform: scale($ratio);
  transform: scale($ratio);
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin img-responsive {
  width: 100%;
  height: auto;
}
