html {
  font-size: $font-size-root;
}

body {
  font-family: $font-family;
  color: $white;
  background-color: $black;
  overflow-x: hidden;
  padding: $padding-half;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: $black;
  background-color: $white;
}
