html {
  font-size: $font-size-root;
}

body {
  font-family: $font-family;
  color: $white;
  background-color: $black;
  overflow-x: hidden;
}

a {
  color: $white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: $black;
  background-color: $white;
}

.my-info::selection {
  color: $white;
  background-color: $hover-color;
}
