.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header,
.main,
.work,
.contact {
  margin: $margin-1 * 0.2;
}

.my-photo {
  left: 0;
  top: 50%;
  transform: translate(5%, -50%);
  display: none;
  position: absolute;
  object-fit: cover;
  width: 25rem;
  height: 30rem;
  opacity: 0.8;
}

.title {
  cursor: pointer;
  font-weight: $font-weight-normal;
  font-size: $font-size-xl;
  -webkit-tap-highlight-color: transparent;
}

.title:hover + .my-photo {
  display: inline-block;
}

.subtitle {
  font-weight: $font-weight-normal;
  font-size: $font-size-md;

  &__link:hover {
    color: $hover-color;
    @include transition(0.4s ease);
  }
}

.my-info {
  font-weight: $font-weight-normal;
  font-size: $font-size-lg;
}

.work {
  display: inline-flex;
  flex-direction: column;

  &__title {
    font-weight: $font-weight-normal;
    font-size: $font-size-md;
  }

  &__link {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin: $margin-1 * 0.02;
    text-decoration: underline;
    text-underline-offset: $text-underline-offset;

    &:hover {
      color: $hover-color;
      text-decoration: none;
      @include transition(0.4s ease);
    }
  }
}

.contact {
  user-select: none;

  &__link {
    margin: $margin-reset $margin-1 * 0.32;
  }
}

.fab,
.fas {
  font-size: $font-size-lg;

  &:hover {
    color: $hover-color;
    @include transition(0.4s ease, transform 0.9s ease);
    @include transform(rotate(360deg));
  }
}

.fa-youtube {
  font-size: 1.41rem;
}

// media queries
@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }

  .my-photo {
    width: 17rem;
    height: 22rem;
  }
}
