.container {
  max-width: $container-width;
}

header,
main,
.contact {
  margin: $margin-2;
}

header {
  margin-top: $margin-1 !important;
}

.contact {
  margin-bottom: $margin-1 !important;
}

.title {
  font-weight: $font-weight-normal;
  font-size: $font-size-lg;
  margin-bottom: $margin-half;
}

.subtitle {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
}

.my-info {
  font-weight: $font-weight-normal;
  font-size: $font-size-md;
  line-height: $line-height;
}

.work {
  display: inline-flex;
  flex-direction: column;

  &__title {
    margin: $margin-1 * 0.4;
    font-weight: $font-weight-normal;
    font-size: $font-size-sm;
  }

  &__link {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin: $margin-1 * 0.2;
    color: $white;
    text-decoration: underline;
    text-underline-offset: $text-underline-offset;

    &:hover {
      color: $hover-color;
      text-decoration: none;
      @include transition(0.4s ease);
    }
  }
}

.contact {
  user-select: none;

  &__link {
    margin: $margin-reset $margin-half;
    color: $white;
  }
}

.fab {
  font-size: $font-size-md;

  &:hover {
    color: $hover-color;
    @include transition(0.4s ease, transform 0.9s ease);
    @include transform(rotate(360deg));
  }
}

// media queries
@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }
}
