// colors
$black: #000000;
$white: #ffffff;
$hover-color: #5e5e5e;
$scrollbar-thumb-color: #3f3b3b;

// font family
$font-family: "Open Sans", sans-serif;

// font size
$font-size-root: 10px;
$font-size-sm: 1.32rem;
$font-size-md: 1.44rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.72rem;

// font weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// text underline offset
$text-underline-offset: 0.04rem;

// z-index
$zindex-loader: 100;

// sizes
$size-reset: 0rem;
$size-1: 1rem;
$size-half: $size-1 / 2;
$size-2: $size-1 * 2;
$size-3: $size-1 * 3;
$size-4: $size-1 * 4;
$size-5: $size-1 * 5;

// margin
$margin-reset: $size-reset;
$margin-1: $size-1;
$margin-half: $size-half;
$margin-2: $size-2;
$margin-3: $size-3;
$margin-4: $size-4;
$margin-5: $size-5;

// padding
$padding-reset: $size-reset;
$padding-1: $size-1;
$padding-half: $size-half;
$padding-2: $size-2;
$padding-3: $size-3;
$padding-4: $size-4;
$padding-5: $size-5;

// scrollbar
$scrollbar-width: 1.4rem;
